
  .post{
    /* margin-top: -20px; */
    background: #29656b;
    border: 2px solid rgba(80, 76, 63, 0.6);
    color: rgb(252, 229, 198);
    border-radius: 5px;
  }

  .post.title{
    margin-left: 13px;
    border:0px;
  }
  .post.text{

  }