
  .post{
    /* margin-top: -20px; */
    background: #29656b;
    border: 2px solid rgba(80, 76, 63, 0.6);
    color: rgb(252, 229, 198);
    border-radius: 5px;
  }

  .post.title{
    margin-left: 13px;
    border:0px;
  }
 
  .dateDelete{
    display: flex;
    justify-content: space-between;
    flex:1;
  }
  .delete{
    padding: 4px 4px;
    margin: 5px 13px;
    color: #b9b9b9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #343434 ;
    background-color: #550505;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    box-shadow: 7px 5px   teal;
  }

  .delete:hover {
    background: #ebebeb;
    color: #217b15;
    border-style: dashed  #217b15;
    transition: 1s;
    scale: 1.1;
    box-shadow: 30px -5px 5px rgba(0, 128, 128, 0.452);
  }