.Name{
    font-size: 200%;
    background-color: bisque;
    color: rgb(10, 49, 70);
    /* padding-top: 10px; */
    font-size: 1.8rem;
    padding: 1rem 2.5rem;
    display: flex;
}
.loginBlock{
    /* margin: auto; */
    float:right;
    position: inherit;
}
.loginBlock a{
color: rgb(211, 54, 94);
}
/* .logout button{
margin-right: 10px;
margin-bottom: 100px;
} */

.logout {
margin-right: 3px;
/* display: flex; */
position: absolute;
right: 1px;
top: 33px;
float:right;

}
