.body {
    background: #29656b;
    border-radius: 5px;
  }
  .st{
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .sttext{
    color: antiquewhite;
    border-radius: 4px;
    border: 1px solid white;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .resetStatus{
    background: #901313;
    color: white;
    border: none;
    padding: 10px;
    font-weight: 10;
    letter-spacing: 3px;
    /* width: 10%; */
    display: flex;
  }

  .form {
    background: #193f43;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(79, 98, 148);
    
  }
  
  .checkBoxWithLabel{
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .inputCheck{ 
    width: 20px;
    height: 20px;
    
  }
  
  .input {
    display: block;
    box-sizing: border-box;
    width: 90%;
    border-radius: 4px;
    border: 1px solid white;
    margin-left: 10px;
    padding: 5px 15px;
    margin-bottom: 7px;
  }
  
  .label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 7px;
    margin-top: 7px;
    color: white;
    font-weight: 200;
    margin-left: 5px;
  }
/*   
  .button{
      padding: 4px 4px;
      margin: 5px 12px;
      color: #1a1e19;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border: 2px solid #343434 ;
      background-color: #d3d3d3;
      border-radius: 5px;
      align-items: center;
      text-align: center;
      box-shadow: 7px 5px   teal;
  } */
  .status{
/* margin-left: 20px; */
margin: 10px 10px;
padding: 10px 100px;
display: inline;
  }
.onChangeStatus{
  padding-left: 1%;
}
/* 
  .button:hover,
  .input[type="submit"]:hover {
    background: #ebebeb;
    color: #217b15;
    border-style: dashed  #217b15;
    transition: 1s;
    scale: 1.1;
    box-shadow: 30px -5px 5px rgba(0, 128, 128, 0.452);
  }
  
  .button[type="submit"]:active,
  .input[type="button"]:active,
  .input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  } */
  
  .input:disabled {
    opacity: 0.4;
  }
  
  /* .input[type="button"]:hover {
    transition: 0.3s all;
  } */
  
  /* .button[type="submit"], */
  .input[type="button"],
  .input[type="submit"] {
    -webkit-appearance: none;
  }
  
  .Login {
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* .button[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  } */
  
  .hr {
    margin-top: 30px;
  }
  
  .i {
    color: white;
  }
  
  .span {
    color: tomato;
  }
  