.App-w{
display: grid;

  grid-template-areas: 
  "H H"
  "S P";

grid-template-rows: 89px 1fr;
grid-template-columns: 2fr 10fr;
grid-gap: 10px;
font-size: 14px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/* font-style: oblique; */
}


.bar{
  grid-area: S;
}

.head{
  grid-area: H;
}

.main{
  grid-area: P;
}







