.button{
padding: 4px 4px;
margin: 5px 13px;
color: #1a1e19;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border: 2px solid #343434 ;
background-color: #d3d3d3;
border-radius: 5px;
align-items: center;
text-align: center;
box-shadow: 7px 7px   teal;}

.uploadFile{
  display: none;
}


.AvaLoader{
display: flex;
flex-direction: column;
max-width: 230px;
}

.userInfo{
  margin-left: 5px;
  display: inline-flex;
  color: #1a1e19;
  justify-content: left;
}

.button:hover {
  background: #ebebeb;
  color: #217b15;
  border-style: dashed  #217b15;
  transition: 1s;
  scale: 1.1;
  box-shadow: 30px -5px 5px rgba(0, 128, 128, 0.452);
}

.bgp{
  width: 100%;
  height: 300px;
}
.info{
  background-color: rgb(252, 229, 198);
  font-size: 1vw;
  border-radius: 5px;
  
}
.WordPosts{
  padding-top: 5px ;
  padding-bottom: 5px ;
  text-align: center;
  background-color:#27941f;
  border-radius: 5px;
}
.uploadFile{
  margin-top: 5px;
  margin-bottom: 10px;
}
.UserName{
  font-size: 3vw;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-weight: bolder;
  color: rgb(10, 49, 70);
}
.ava{
  width: 350px;
  max-height: 350px;
}